.main-carro {
  width: 70.5%;
  margin: auto;
  margin-top: 20px;
}

.carro-img {
  max-height: 500px;
}

.main-carro h1{
  font-size: 50px;

  -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.main-carro p{
  font-size: 30px;
  -webkit-text-stroke: 0.7px rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}

.texto-banner{
  margin-bottom: 15%;
} 

@media screen and (max-width: 700px) {
  .main-carro {
    width: 93.5%;
    height: 50%;
  }
  .carro-img {
    max-height: 250px;
  }

  .main-carro h1{
    font-size: 23px;
  
    -webkit-text-stroke: 0px rgb(0, 0, 0);
      text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  
  .main-carro p{
    font-size: 13px;
    -webkit-text-stroke: 0px rgb(0, 0, 0);
      text-shadow: 1px 1px 1px rgb(0, 0, 0);
  
  }
  
}
