.footer{
    display: flex;
    flex-direction: column;
    background: rgb(79,3,3);
    background: linear-gradient(90deg, rgb(145, 27, 27) 0%, rgb(230, 102, 102) 51%, rgba(145, 27, 27) 100%);
    /* width: 98.5%;
    margin: 10px 10px; */
    height: 150px;
    
}

.endereco{
    color: white;
    font-size: 20px;
    margin: auto;
}

.endereco a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    transition: 1s;
}

.endereco a:hover{
    font-size: 30px;
    transition: 1s;
}

.imgfooter{
    width: 45px;
    margin: 5px;
}

@media screen and (max-width: 700px) {
.footer{
    height: 200px;
    display: flex;
    flex-direction: column;
}

.endereco{
    color: white;
    font-size: 16px;
    margin: auto;
    margin-top: 0;
    text-align: center;

}

.endereco a:hover{
    font-size: 22px;
    transition: 1s;
}
.imgfooter{
    width: 35px;
    margin: 5px;
}
}