@keyframes tremor {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(2px, -2px); }
  60% { transform: translate(-2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0, 0); }
}


.header{
  background: rgb(79,3,3);
  background: linear-gradient(90deg, rgb(145, 27, 27) 0%, rgb(230, 102, 102) 51%, rgba(145, 27, 27) 100%);
  height: 130px;
  color: aliceblue;
}

.logoheader {
  display: inline-block;
  width: 100px;
  transition: transform 1s; /* Adiciona um efeito de transição suave */
  position: relative;
  top: 8px;
}
  
.logoheader:hover {
  transform-origin: 40px;
  transform: rotate(360deg);
}

.header h3{
  background-image: linear-gradient(to right, white, green, red);
  -webkit-background-clip: text; /* Para navegadores baseados em WebKit, como Chrome e Safari */
  color: transparent;
  -webkit-text-stroke: 0.2px rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.nav{
  margin-top: 15px;
  color: rgb(0, 225, 255);
  transition: 0.5s;

}

.pheader{
  color: white;
  transition: 0.5s;
}

.nav:hover{
  color: rgb(0, 225, 255);
  transition: 0.5s;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);;    
}

.doar1{
  animation: tremor .3s infinite;
}

@media screen and (max-width: 1000px) {
  .logoheader {
    width: 100px;
    display: none;
  }

  .doar{
    margin-top: 10px;
    display: none;
  }
}
