.texto2{
    display: flex;
    background-color: rgb(253, 253, 253);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    width: 75%;
}

h1{
    text-align: center;
    font-family: monospace;
}

.p{
    text-align: center;
    margin: 20px;
    font-family: monospace;

}

.equipe{
    width: 60px;
}

.perfil{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
}

.container-perfil{
    display: flex;
text-align: center;
justify-content: center;

}

@media screen and (max-width: 700px) {
    .texto2{
        display: flex;
        flex-direction: column;
        background-color: rgb(253, 253, 253);
        margin: 50px;
        padding: 50px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }
        
    .container-perfil{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        
    }

    h1{
        text-align: center;
        font-family: monospace;
        font-size: 15px;
    }

    .equipe{
        width: 28px;
    }
   
    .perfil{
        width: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
}
