.welcome {
    background-color: var(--verde);
    padding-top: 50px;
}

.texto1{
    display: flex;
    background-color: #f3f8e6;
    width: 75%;
    margin:auto;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

h1{
    text-align: center;
    font-family: monospace;
}

.p {
    text-align: justify;
    margin: 20px;
    font-family: monospace;
}

.logo-div {
    display: flex;
    align-items: center;
}

.textoimg {
    width: 400px;
}

.ico {
   font-size: 30px;
}

.clique {
    text-decoration: none;
    color: black;
}

.clique p {
    text-align: center;
}

.card-body {
    text-align: justify !important;
}


@media screen and (max-width: 700px) {
    .texto1 {
        display: flex;
        flex-direction: column;
        background-color: rgb(253, 253, 253);
        margin: auto;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        width: 95%;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }

    .textoimg {
        margin: 30px auto;
        width: 260px;
    }
}
